.container {
    width: 100%;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    color: #ffffff;
}

.title {
    width: 100%;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-transform: uppercase;
}

.desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

.form {
    width: 100%;
    min-height: 500px;
    background-color: var(--bg-secondary);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 33px 30px;
}
