.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 41px 75px 41px 44px;
    background: var(--bg-secondary);
    border-radius: 15px;
    gap: 21px;
    color: #fff;

    @media screen and (max-width: 1290px) {
        padding: 40px 90px 35px 44px;
    }

    @media screen and (max-width: 750px) {
        padding: 40px 55px 35px 44px;
    }

    @media screen and (max-width: 550px) {
        padding: 30px 13px 25px 34px;
    }
}

.author__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 27px;
    font-size: 20px;
    line-height: 28px;

    @media screen and (max-width: 1290px) {
        gap: 28px;
    }

    @media screen and (max-width: 550px) {
        font-size: 16px;
        line-height: 28px;
    }
}

.avatar__box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 50%;
    }

    @media screen and (max-width: 1290px) {
        display: none;
    }
}

.title__box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}

.title {
    font-weight: 700;
    text-transform: uppercase;
}

.desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #747587;

    @media screen and (max-width: 550px) {
        font-size: 14px;
        line-height: 17px;
    }
}

.text {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;

    @media screen and (max-width: 550px) {
        font-size: 16px;
        line-height: 24px;
    }
}
