{
	"tabWidth": 2,
	"useTabs": true,
	"trailingComma": "all",
	"semi": true,
	"singleQuote": false,
	"bracketSpacing": true,
	"importOrder": [
		"^[./]",
		"^@pages/(.*)$",
		"^@api/(.*)$",
		"^@components/(.*)$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}