.layout {
    width: 100%;
    min-height: 100vh;
    background-color: #21222d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 85px 204px 85px 203px;

    @media screen and (max-width: 1438px) {
        padding: 85px 148px 66px 148px;
    }

    @media screen and (max-width: 1023px) {
        padding: 75px 30px;
    }

    @media screen and (max-width: 743px) {
        padding: 58px 23px 43px 24px;
    }
}
